<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
		<security>
			<requestFiltering allowDoubleEscaping="true"></requestFiltering>
		</security>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!-- <validation validateIntegratedModeConfiguration="false" /> -->
		<defaultDocument>
			<files>
				<clear/>
				<add value="default.html"/>
				<add value="index.html"/>
				<add value="Default.htm"/>
				<add value="Default.asp"/>
				<add value="index.htm"/>
				<add value="iisstart.htm"/>
				<add value="default.aspx"/>
			</files>
		</defaultDocument>
		<staticContent>
      <remove fileExtension=".raw" />
      <mimeMap fileExtension=".raw" mimeType="application/raw" />
      <remove fileExtension=".ogg" />
        <mimeMap fileExtension=".ogg" mimeType="application/ogg" />
		<remove fileExtension=".webm" />
        <mimeMap fileExtension=".webm" mimeType="application/webm" />
		<remove fileExtension=".hdr" />
        <mimeMap fileExtension=".hdr" mimeType="application/hdr" />
		<remove fileExtension=".vtp" />
        <mimeMap fileExtension=".vtp" mimeType="application/vtp" />
		<remove fileExtension=".utf8" />
        <mimeMap fileExtension=".utf8" mimeType="application/utf8" />
		<remove fileExtension=".ttf" />
        <mimeMap fileExtension=".ttf" mimeType="application/ttf" />
		<remove fileExtension=".ply" />
        <mimeMap fileExtension=".ply" mimeType="application/ply" />
		<remove fileExtension=".pcd" />
        <mimeMap fileExtension=".pcd" mimeType="application/pcd" />
		<remove fileExtension=".vtk" />
        <mimeMap fileExtension=".vtk" mimeType="application/vtk" />
		<remove fileExtension=".nrrd" />
        <mimeMap fileExtension=".nrrd" mimeType="application/nrrd" />
		<remove fileExtension=".dds" />
        <mimeMap fileExtension=".dds" mimeType="application/dds" />
		<remove fileExtension=".mtl" />
        <mimeMap fileExtension=".mtl" mimeType="application/mtl" />
		<remove fileExtension=".pack" />
        <mimeMap fileExtension=".pack" mimeType="application/pack" />
		<remove fileExtension=".vmd" />
        <mimeMap fileExtension=".vmd" mimeType="application/vmd" />
		<remove fileExtension=".pmd" />
        <mimeMap fileExtension=".pmd" mimeType="application/pmd" />
		<remove fileExtension=".md2" />
        <mimeMap fileExtension=".md2" mimeType="application/md2" />
		<remove fileExtension=".fbx" />
        <mimeMap fileExtension=".fbx" mimeType="application/fbx" />
		<remove fileExtension=".ctm" />
        <mimeMap fileExtension=".ctm" mimeType="application/ctm" />
		<remove fileExtension=".bvh" />
        <mimeMap fileExtension=".bvh" mimeType="application/bvh" />
		<remove fileExtension=".babylon" />
        <mimeMap fileExtension=".babylon" mimeType="application/babylon" />
		<remove fileExtension=".awd" />
        <mimeMap fileExtension=".awd" mimeType="application/awd" />
		<remove fileExtension=".assimp" />
        <mimeMap fileExtension=".assimp" mimeType="application/assimp" />
		<remove fileExtension=".amf" />
        <mimeMap fileExtension=".amf" mimeType="application/amf" />
		<remove fileExtension=".3mf" />
        <mimeMap fileExtension=".3mf" mimeType="application/3mf" />
		<remove fileExtension=".obj" />
        <mimeMap fileExtension=".obj" mimeType="application/obj" />
		<remove fileExtension=".pdb" />
        <mimeMap fileExtension=".pdb" mimeType="application/pdb" />
		<remove fileExtension=".rgb" />
        <mimeMap fileExtension=".rgb" mimeType="application/rgb" />
        <remove fileExtension=".ldf" />
        <mimeMap fileExtension=".ldf" mimeType="application/ldf" />
        <remove fileExtension=".ico" />
        <mimeMap fileExtension=".ico" mimeType="application/ico" />
        <remove fileExtension=".shp" />
        <mimeMap fileExtension=".shp" mimeType="application/shp" />
        <remove fileExtension=".prj" />
        <mimeMap fileExtension=".prj" mimeType="application/prj" />
        <remove fileExtension=".dbf" />
        <mimeMap fileExtension=".dbf" mimeType="application/dbf" />
        <remove fileExtension=".osgjs" />
        <mimeMap fileExtension=".osgjs" mimeType="application/json" />
      <remove fileExtension=".dae" />
      <mimeMap fileExtension=".dae" mimeType="application/dae" />
      <remove fileExtension=".tif" />
      <mimeMap fileExtension=".tif" mimeType="application/geotiff" />
			<remove fileExtension=".czml" />
			<mimeMap fileExtension=".czml" mimeType="application/json" />
			<remove fileExtension=".glsl" />
			<mimeMap fileExtension=".glsl" mimeType="text/plain" />
			<remove fileExtension=".gltf" />
			<mimeMap fileExtension=".gltf" mimeType="model/vnd.gltf+json" />
			<remove fileExtension=".bgltf" />
			<mimeMap fileExtension=".bgltf" mimeType="model/vnd.gltf.binary" />
			<remove fileExtension=".glb" />
			<mimeMap fileExtension=".glb" mimeType="model/vnd.gltf.binary" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".geojson" />
			<mimeMap fileExtension=".geojson" mimeType="application/json" />
			<remove fileExtension=".topojson" />
			<mimeMap fileExtension=".topojson" mimeType="application/json" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			<remove fileExtension=".kml" />
			<mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
			<remove fileExtension=".kmz" />
			<mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".terrain" />
			<mimeMap fileExtension=".terrain" mimeType="application/vnd.quantized-mesh" />
      <remove fileExtension=".bvh"/>
      <mimeMap fileExtension=".bvh" mimeType="application/bvh"/>
      <remove fileExtension=".assimp"/>
      <mimeMap fileExtension=".assimp" mimeType="application/assimp"/>
      <remove fileExtension=".ms3d"/>
      <mimeMap fileExtension=".ms3d" mimeType="application/ms3d"/>
      <remove fileExtension=".pcd"/>
      <mimeMap fileExtension=".pcd" mimeType="application/pcd"/>
      <remove fileExtension=".fbx"/>
      <mimeMap fileExtension=".fbx" mimeType="application/fbx"/>
      <remove fileExtension=".md2"/>
      <mimeMap fileExtension=".md2" mimeType="application/md2"/>
      <remove fileExtension=".nrrd"/>
      <mimeMap fileExtension=".nrrd" mimeType="application/nrrd"/>
      <remove fileExtension=".ply"/>
      <mimeMap fileExtension=".ply" mimeType="application/ply"/>
      <remove fileExtension=".utf8"/>
      <mimeMap fileExtension=".utf8" mimeType="application/utf8"/>
      <remove fileExtension=".dds"/>
      <mimeMap fileExtension=".dds" mimeType="application/dds"/>
      <remove fileExtension=".pdb"/>
      <mimeMap fileExtension=".pdb" mimeType="application/pdb"/>
      <remove fileExtension=".vtk"/>
      <mimeMap fileExtension=".vtk" mimeType="application/vtk"/>
      <remove fileExtension=".babylon"/>
      <mimeMap fileExtension=".babylon" mimeType="application/babylon"/>
      <remove fileExtension=".pack"/>
      <mimeMap fileExtension=".pack" mimeType="application/pack"/>
      <remove fileExtension=".3mf"/>
      <mimeMap fileExtension=".3mf" mimeType="application/3mf"/>
      <remove fileExtension=".amf"/>
      <mimeMap fileExtension=".amf" mimeType="application/amf"/>
      <remove fileExtension=".awd"/>
      <mimeMap fileExtension=".awd" mimeType="application/awd"/>
      <remove fileExtension=".3ds"/>
      <mimeMap fileExtension=".3ds" mimeType="application/3ds"/>
      <remove fileExtension=".obj"/>
      <mimeMap fileExtension=".obj" mimeType="text/plain"/>
      <remove fileExtension=".mtl"/>
      <mimeMap fileExtension=".mtl" mimeType="text/plain"/>
    <remove fileExtension=".properties"/>
			<mimeMap fileExtension=".properties" mimeType="application/properties"/>
    <remove fileExtension=".41A"/>
			<mimeMap fileExtension=".41A" mimeType="application/41A"/>
			<remove fileExtension=".b3dm"/>
			<mimeMap fileExtension=".b3dm" mimeType="application/b3dm"/>
			<remove fileExtension=".awx"/>
			<mimeMap fileExtension=".awx" mimeType="application/awx"/>
			<remove fileExtension=".csv"/>
			<mimeMap fileExtension=".csv" mimeType="application/csv"/>
			<remove fileExtension=".pal"/>
			<mimeMap fileExtension=".pal" mimeType="application/pal"/>
			<remove fileExtension=".000"/>
			<mimeMap fileExtension=".000" mimeType="application/micaps"/>
			<remove fileExtension=".ldf"/>
			<mimeMap fileExtension=".ldf" mimeType="application/ldf"/>
			<remove fileExtension=".ico"/>
			<mimeMap fileExtension=".ico" mimeType="application/ico"/>
			<remove fileExtension=".shp"/>
			<mimeMap fileExtension=".shp" mimeType="application/shp"/>
			<remove fileExtension=".prj"/>
			<mimeMap fileExtension=".prj" mimeType="application/prj"/>
			<remove fileExtension=".dbf"/>
			<mimeMap fileExtension=".dbf" mimeType="application/dbf"/>
			<remove fileExtension=".osgjs"/>
			<mimeMap fileExtension=".osgjs" mimeType="application/json"/>
			<remove fileExtension=".dae"/>
			<mimeMap fileExtension=".dae" mimeType="text/plain"/>
			<remove fileExtension=".tif"/>
			<mimeMap fileExtension=".tif" mimeType="application/geotiff"/>
			<remove fileExtension=".xml"/>
			<mimeMap fileExtension=".xml" mimeType="application/xml"/>
			<remove fileExtension=".czml"/>
			<mimeMap fileExtension=".czml" mimeType="application/json"/>
			<remove fileExtension=".glsl"/>
			<mimeMap fileExtension=".glsl" mimeType="text/plain"/>
      	<remove fileExtension=".vert"/>
			<mimeMap fileExtension=".vert" mimeType="text/plain"/>
      	<remove fileExtension=".frag"/>
			<mimeMap fileExtension=".frag" mimeType="text/plain"/>
      
			<remove fileExtension=".gltf"/>
			<mimeMap fileExtension=".gltf" mimeType="application/gltf"/>
			<remove fileExtension=".glb"/>
			<mimeMap fileExtension=".glb" mimeType="application/glb"/>
			<remove fileExtension=".json"/>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
			<remove fileExtension=".geojson"/>
			<mimeMap fileExtension=".geojson" mimeType="application/json"/>
			<remove fileExtension=".topojson"/>
			<mimeMap fileExtension=".topojson" mimeType="application/json"/>
			<remove fileExtension=".woff"/>
			<mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
			<remove fileExtension=".woff2"/>
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
			<remove fileExtension=".kml"/>
			<mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml"/>
			<remove fileExtension=".kmz"/>
			<mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz"/>
			<remove fileExtension=".svg"/>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
			<remove fileExtension=".terrain"/>
			<mimeMap fileExtension=".terrain" mimeType="application/vnd.quantized-mesh"/>
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*"/>
				<add name="Access-Control-Allow-Methods" value="POST,GET"/>
				<add name="Access-Control-Allow-Headers" value="content-type"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="10024000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>
